<div class="education-container">
    <h1>Education</h1>
    <div class="education-info">
        <div class="education-item">
            <h3 class="education-title">Bachelor's Degree in Computer Science</h3>
            <p class="education-school">University of Computer Science</p>
            <p class="education-year">2015 - 2019</p>
        </div>
        <div class="education-item">
            <h3 class="education-title">Master's Degree in Artificial Intelligence</h3>
            <p class="education-school">University of Artificial Intelligence</p>
            <p class="education-year">2019 - 2021</p>
        </div>
    </div>
</div>