<app-navbar></app-navbar>

<section id="profile" class="section">
  <app-profile class="content"></app-profile>
</section>

<section id="about" class="section">
  <div>
    <h1>About Me</h1>
    <p>I tried not to eat much</p>
  </div>
</section>

<section id="education" class="section">
  <div>
    <h1>Education</h1>
    <p>I got Cum Laude</p>
  </div>
</section>

<section id="experiences" class="section">
  <div>
    <h1>Experiences</h1>
    <p>I have done multiple internships</p>
  </div>
</section>

<section id="projects" class="section">
  <div>
    <h1>Projects</h1>
    <p>I have made some projects</p>
  </div>
</section>

<section id="contact" class="section">
  <div>
    <h1>Contact</h1>
    <p>Email me</p>
  </div>
</section>

<router-outlet />