<div class="profile-container">
    <div class="profile-photo-container">
        <img src="ProfilePhoto.jpeg" alt="Profile Picture" class="profile-photo" />
    </div>
    <div class="profile-info">
        <h3 class="profile-greeting">Hello I'm</h3>
        <h1 class="profile-name">Airell</h1>
        <p class="profile-description">Software Engineer || Backend Developer || AI Engineer || Fullstack Developer</p>
        <div class="profile-socials">
            <a href="https://www.linkedin.com/in/airell-bachtiar/" target="_blank" class="social-link">
                <img src="linkedin.webp" alt="LinkedIn" class="social-icon" />
            </a>
            <a href="https://www.github.com/airellbachtiar" target="_blank" class="social-link">
                <img src="github.png" alt="GitHub" class="social-icon" />
            </a>
        </div>
    </div>
</div>
<div class="profile-buttons-container">
    <button class="profile-button" onclick="window.open('./Airell%20CV.pdf')">Download CV</button>
    <button class="profile-button" onclick="location.href='./#contact'">Contact</button>
</div>